<h1><%= @project.name %></h1>

<h2><%= @project.description %></h2>

<%= link_to("< Go back to projects", projects_path) %><br>
<%= link_to("+ Create new entry", new_project_entry_path(@project)) %>

<h3>The total time worked this month: <%= @total_hours %> hours</h3>

<ul>
  <% @entries.each do |entry| %>
    <li>
      <%= entry.hours %>h <%= entry.minutes %> m · <%= entry.date.year %>-<%= entry.date.month %>-<%= entry.date.day %>
      <%= link_to("Edit", edit_project_entry_path(@project, entry)) %>
    </li>
  <% end %>
</ul>