<h1><%= @project.name %></h1>

<h2><%= @project.description %></h2>

<ul>
  <% @entries.each do |entry| %>
    <li>
      <%= entry.hours %> hours and <%= entry.minutes %> minutes · <%= entry.date %>
    </li>
  <% end %>
</ul>