<h1><%= @project.name %></h1>

<h2><%= @project.description %></h2>

<h3>The total time worked this month: <%= @total_hours %> hours</h3>

<ul>
  <% @entries.each do |entry| %>
    <li>
      <%= entry.hours %>h <%= entry.minutes %> m · <%= entry.date.year %>-<%= entry.date.month %>-<%= entry.date.day %>
    </li>
  <% end %>
</ul>